<div class="animated-result" [class.fade-in]="fadeInAnimated" [class.fade-out-fast]="fadeOutFast" [class.slide-out]="slideOut">
  <h1 class="score-header">Your Score:</h1>
  <svg class="progress-ring" width="400px" length="400px">
    <circle class="ring-bg" cx="200" cy="200" r="150"></circle>
    <circle class="ring-fill" cx="200" cy="200" r="150"></circle>
    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="result">
      <tspan class="result-score"><tspan class="larger-digit">{{ score_first_digit }}</tspan>{{ score_remaining_digits }}</tspan>
      <tspan x="50%" dy="1.7em" text-anchor="middle" class="max-score">/10,000</tspan>
    </text>
  </svg>
</div>

<div class="result-summary" [class.fade-in]="fadeInSummary" [class.fade-out-fast]="fadeOutFast" [class.slide-out]="slideOut">
  <h1 class="summary-header">Summary:</h1>
  <div class="correctness-div">
    <div class="correctness-summary">
      <img src="../../assets/correct.png">
      <h2>Correct answers: {{ score_object?.correct_answers }}</h2>
    </div>
    <div class="correctness-summary">
      <img src="../../assets/incorrect.png">
      <h2>Incorrect answers: {{ score_object?.incorrect_answers }}</h2>
    </div>
  </div>
  <div class="correctness-summary2">
    <img src="../../assets/stopwatch.png">
    <h2>Average answer time: {{ score_object?.avg_answer_time }}s</h2>
  </div>
</div>

<a (click)="navigateAndSlide()" class="next-anchor" [class.slide-out-anchor]="slideOut">Next &rarr;</a>

