.question-div {
    text-align: center;
    font-family: 'Gill Sans MT';
}

.question-image {
    padding-top: 3vh;
    width: 65vh;
    max-width: 800px;
    height: 48.75vh;
    max-height: 600px;
}

.question-content {
    padding: 1.5vh 0;
    font-size: 4.5vh;
    font-weight: 700;
    max-width: 120vh;
}

.centered-content {
    display: inline-block;
    text-align: center;
}

.answer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.answer-button {
    margin: 1vh;
    padding: 2vh 10vh;
    border: none;
    cursor: pointer;
    font-family: 'Gill Sans MT';
    font-weight: 600;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85vh;
    color: white;
    position: relative;
}

#answerButton0 {
    background-color: rgb(255, 37, 37);
}

#answerButton0:hover {
    background-color: rgb(255, 105, 105);
}

#answerButton0::before {
    content: '';
    position: absolute;
    left: 1.5vh;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    width: 3.25vh;
    height: 3.25vh;
    background-color: white;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

#answerButton1 {
    background-color: rgb(29, 148, 29);
}

#answerButton1:hover {
    background-color: rgb(105, 195, 105);
}

#answerButton1::before {
    content: '';
    position: absolute;
    left: 1.5vh;
    top: 50%;
    transform: translateY(-50%);
    width: 3vh;
    height: 3vh;
    background-color: white;
}

#answerButton2 {
    background-color: rgb(37, 37, 255);
}

#answerButton2:hover {
    background-color: rgb(110, 110, 243);
}

#answerButton2::before {
    content: '';
    position: absolute;
    left: 1.5vh;
    top: 50%;
    transform: translateY(-50%);
    width: 3.25vh;
    height: 3.25vh;
    background-color: white;
    border-radius: 50%;
}

#answerButton3 {
    background-color: rgb(255, 179, 37);
}

#answerButton3:hover {
    background-color: rgb(253, 201, 104);
}

#answerButton3::before {
    content: '';
    position: absolute;
    left: 1.5vh;
    top: 50%;
    transform: translateY(-50%);
    width: 3.5vh;
    height: 3.5vh;
    background-color: white;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}